<h1>Your contacts</h1>
<p>Here is a list of your contacts.</p>
<p>
    <a href="/contacts/add" id="add" class="btn btn-primary">Add new</a>
</p>

<table class="table col-md-8">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Nickname </th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% if(!contacts.length) { %>
        <tr>
            <td colspan="4"> You should add a contact</td>
        </tr>
        <% } else { %>
        <% contacts.forEach(contact => { %>
        <tr>
            <td>
                <a href="/<%= contact.id %>"> <i class="fa fa-trash"></i></a>
            </td>
            <td>
                <a href="/contacts/<%= contact.id %>"> <%= contact.name %> <%= contact.job %> </a>
            </td>
            <td><%= contact.nickname %> </td>
            <td><a href="mailito:<%= contact.email %>"><%= contact.email %></a></td>
        </tr>
        <% }) %>
        <% } %>
    </tbody>
</table>